/* Border box reset */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

:root {
    /*  */
    --jonquil: #f9c80eff;
    --oxford-blue: #0b132bff;
    --white: #ffffffff;
    --celestial-blue: #058ed9ff;
    --coral: #fa824cff;
    --platinum: #e6e6e6ff;
    --gray: rgb(163, 163, 163);
    --light-blue: rgba(181, 204, 216, .5);

    /* padding */

    --padding-medium: 25px;
    --padding-small: 15px;

    /* Radius */

    --radius-large: 50px
    --radius-medium: 25px
    --radius-small: 15px;

    /* Image Width  */
    --img-medium: 100px;
    --img-small: 40px;

}

/* General */

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h2, h3{
    font-size: 1.3rem;
    margin-top: 0;
}

/* Header */

.header {
    grid-column: 2;
    padding: var(--padding-medium);
}

.search {
    display: grid;
    grid-template-columns: 30px 4fr 30px 1fr .5fr;
    align-items: center;
    gap: 20px;
}

.search h2 {
    margin: 0;
}

.search img {
    height: auto;
    width: var(--img-small);
    border-radius: 50px;
}

.search input {
    background-color: var(--light-blue);
    border: none;
    border-radius: 50px;
    height: 30px;
    padding: 10px;
}

.header-user {
    grid-column: 4 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}

.user_actions {
    display: flex;
    justify-content: space-between;
    margin: var(--padding-medium) 0;
}


.user h2 {
    margin: var(--padding-small) 0 ;
}

.user p {
    margin: 0;
}

.user {
    display: flex;
    align-items: center;
}


.user img {
    margin-right: 20px;
    width: var(--img-medium);
    height: auto;
    border-radius: 50px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--padding-medium);
    align-self: center;
}

.actions button {
    height: 40px;
    width: 100px;
    border-radius: var(--padding-medium);
    border: none;
    color: white;
    font-weight: 700;
    background-color:  var(--celestial-blue);
}

/* Main */

.main {
    padding: 25px;
    background-color: var(--platinum);
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: baseline;
    gap: 20px;
}

.card {
    background-color: var(--white);
    padding: var(--padding-small);
    border-radius: 15px;
    min-height: 250px;
}

.card p {
    color: var(--gray);
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-medium);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects-holder {
    grid-row: 1 / 3;
}


.announcements {

    grid-column: 2 / -1;

}

.announcement-news {
    background-color: var(--white);
    border-radius: 15px;
    padding: var(--padding-medium);
    list-style: none;
}

.announcement-news h4 {
    font-size: .8rem;
    margin-bottom: 0;
}

.announcements p {
    color: var(--gray);
    margin-top: 5px;
    font-size: .8rem;    
}

.announcement-news li:not(:last-of-type) {
    border-bottom: solid 1px rgba(117, 117, 117, 0.5);
}


.trending h5 , .trending p {
    margin: 0;
}

.trending {
    grid-column: 2 / -1;
}

.trending li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
}

.trending-users {
    list-style: none;
    background-color: var(--white);
    padding: var(--padding-small);
    border-radius: 10px;
}
/* Sidebar */
.sidebar {
    background-color: var(--celestial-blue);
    color: var(--white);
    grid-column: 1 / 2;
    grid-row: 1 /  3;
    padding: var(--padding-medium);
}

.sidebar ul {
    list-style: none;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0;
}

.sidebar ul li:not(:first-child) {
    margin-top: 15px;
}

.sidebar a {
    text-decoration: none;
    color: var(--white);
    transition: color 300 ease;
}

.sidebar a:hover {
    color: var(--oxford-blue);
}

.sidebar h1 {
    margin-bottom: 50px;
}

.settings {
    margin-top: 100px;
}

i {
    height: 20px;
    width: 20px;
    margin: 0 auto;
    margin-right: 30px;
}

h1 {
    font-size: 2rem;
}